name: clean
on:
  workflow_dispatch:
  schedule:
    - cron: '0 9 * * SUN'

jobs:
  clean_workflows:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
    steps:
      - name: remove_clean
        uses: Mattraks/delete-workflow-runs@latest
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 0
          keep_minimum_runs: 0
          delete_workflow_pattern: clean

      - name: remove_rmpkgprefix
        uses: Mattraks/delete-workflow-runs@latest
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 0
          keep_minimum_runs: 0
          delete_workflow_pattern: rmpkgprefix

      - name: Delete failed build runs
        uses: Mattraks/delete-workflow-runs@latest
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 0
          keep_minimum_runs: 0
          delete_run_by_conclusion_pattern: failure
          delete_workflow_pattern: build

      - name: Delete cancelled build runs
        uses: Mattraks/delete-workflow-runs@latest
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 0
          keep_minimum_runs: 0
          delete_run_by_conclusion_pattern: cancelled
          delete_workflow_pattern: build

      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@latest
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 7
          keep_minimum_runs: 6
          delete_workflow_pattern: build
